.landingpage {
    display: grid;
    justify-content: center;
    gap: $rem * 2;
    padding: 0 $rem * 1;
    grid-template-columns: auto auto auto;
}

.reportanalysis-h2 {
    grid-column: span 3;
    margin: 0;
    text-align: left;
}

.kmom-box {
    width: $rem * 20.5;
    height: $rem * 20.5;
    background-size: cover;
    box-shadow: $report-tile-box-shadow;
}

.kmom01 {
    background-image: url('../../../assets/img/tile_cosmos.jpg');
}

.kmom02 {
    background-image: url('../../../assets/img/tile_chisinau.jpg');
}

.kmom03 {
    background-image: url('../../../assets/img/tile_post.jpg');
}

.kmom04 {
    background-image: url('../../../assets/img/tile_tbilisi.jpg');
}

.kmom05 {
    background-image: url('../../../assets/img/tile_zagreb.jpg');
}

.kmom06 {
    background-image: url('../../../assets/img/tile_skopje.jpg');
}

.project {
    grid-column: span 3;
    width: auto;
    background-image: url('../../../assets/img/tile_project_tiraspol.jpg');
    margin: 0 0 2px;
}

.opacity {
    width: 100%;
    height: 100%;
    background-color: $report-tile-opacity;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kmom-box-title-wrap {
    padding: $rem * 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        text-shadow: 0 0 9px $report-tile-shadow;
        font-size: $rem * 1.05;
        text-align: left;
    }
}

.kmom-box-link-wrap {
    padding: $rem * 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-box {
    position: relative;
    width: 32px;
    height: 32px;
    background: $arrow;
}

.link-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    height: $rem * 2;
    width: auto;
    padding: 0;
}

.report-analysis-inline-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.report-analysis-inline-img {
    padding: 0.5em;
}

.color-table {
    padding: 0.5em;
    border-spacing: 4px;
    margin: 0;
    border-collapse: separate;
}

.color-box {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
}

.color-code {
    font-family: monospace;
    line-height: 1;
}

.pagespeed-header {
    margin-left: 2em;
}

.pagespeed-table {
    padding: 0.5em;
    border-spacing: 4px;
    margin: 0 0 2.5em 2em;
    border-collapse: separate;
    background-color: rgba(200, 200, 200, 0.3);

    td {
        font-family: monospace;
        line-height: 1;
    }

    th {
        font-weight: bold;
    }

    .red {
        background-color: #ff4e42;
        text-align: center;
        color: #fff;
    }

    .green {
        background-color: #0cce6b;
        text-align: center;
        color: #000;
    }

    .yellow {
        background-color: #ffa400;
        text-align: center;
        color: #000;
    }

    .light {
        background-color: $report-analysis-text-background;
        text-align: center;
        color: $text-color;
    }

    .bold {
        font-weight: bold;
    }

    .right {
        text-align: right;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
