@font-face {
    font-family: 'Alata';
    src: url('../../shared/fonts/Alata-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SosaRegular';
    src: url('../../shared/fonts/SosaRegular-MJmx.ttf') format('truetype');
}

@font-face {
    font-family: 'icon';
    src: url('../../shared/fonts/modernpics.otf') format('opentype');
}


* {
    font-family: 'Arial', sans-serif;
}

html {
    font-size: $rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alata', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 0.6em;
    color: $text-color;
    font-weight: normal;
}


h1 {
    font-size: $rem * 5;
    font-weight: bold;
}

h2 {
    font-size: $rem * 2.2;
}

h3 {
    font-size: $rem * 1.8;
}

h4 {
    font-size: $rem * 1.5;
}

h5,
h6 {
    font-size: $rem * 1.1;
    font-weight: bold;
}

h6 {
    font-style: italic;
}


body {
    font-family: sans-serif;
    font-size: $rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $text-color;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p,
hr,
table,
.table-responsive,
ol,
ul,
dl,
dd,
pre,
blockquote,
fieldset {
    margin-bottom: 1em;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    text-decoration: underline;
    color: $highlight-color2;
}


img {
    max-width: 100%;
}


abbr {
    text-decoration: underline dotted;
}

.italic {
    font-style: italic;
}

.navigation-icon {
    font-family: 'icon';
    text-decoration: none;
}
