$rem: 16px; //Root element font size
$background-color: #eee;

$image-filter: none;
$text-color: #000;
$link-color: #000;
$highlight-color: #9a0000;
$highlight-color2: #c00;
$listdash: url('../../../assets/img/listdash.png');

$title-color: #000;
$header-back: url('../../../assets/img/header-back.jpg');
$text-shadow-header: 0 0 10px #fff;
$flash-ribbon-upper: url('../../../assets/img/flash-ribbon-upper.png');
$flash-ribbon-lower: url('../../../assets/img/flash-ribbon-lower.png');

$report-tile-opacity: rgba(255, 255, 255, 0.7);
$report-tile-shadow: #fff;
$report-tile-box-shadow: 2px 2px 2px #999;
$arrow: url('../../../assets/img/arrow_large.png');
$report-analysis-text-background: #f8f8f8;
$report-analysis-text-box-shadow: 10px 10px 10px #bbb;
$text-decoration-kmom-menu: none;

$pagespeed-table-bg-color: rgba(200, 200, 200, 0.3);

$background-color-footer: #000;
$footer-image: url('../../../assets/img/footer_red.png');
$text-link-color-footer: #adb5bd;
$highlight-color-footer: #9a0000;
