$rem: 16px; //Root element font size
$background-color: #333333;
$background-color-footer: #000;
$title-color: #ccc;
$flash-ribbon: url('../../../assets/img/flash-ribbon-dark.png');
$footer-image: url('../../../assets/img/footer-dark.png');
$text-color: #ccc;
$link-color: #ccc;
$text-link-color-footer: #adb5bd;
$highlight-color-footer: #fff;
$highlight-color: #9a0000;
$report-tile-opacity: rgba(0, 0, 0, 0.6);
$report-tile-shadow: #000;
$report-tile-box-shadow: none;
$image-filter: brightness(.75) contrast(1.1);
$arrow: url('../../../assets/img/arrow_large_dark.png');
$listdash: url('../../../assets/img/listdash-dark.png');
