$rem: 100%; //Root element font size
$background-color: #eee;
$background-color-footer: #000;
$text-color: #000;
$link-color: #000;
$text-link-color-footer: #adb5bd;
$highlight-color-footer: #fff;
$highlight-color: #9a0000;
$fa-font-path: '../../shared/fontawesome/webfonts';
